<header>
  <div class="info-bar">
    <div class="container">
      <span class="info-bar__location"><a href="https://goo.gl/maps/Ibnfj" target="_blank"><i class="fa fa-map-marker"></i> 2770 West Central Avenue, Toledo, Ohio 43606</a></span>
      <span class="info-bar__phone"><a href="tel:14194731367"><i class="fa fa-phone"></i> (419) 473-1367</a></span>
      <span class="info-bar__hours"><i class="fa fa-clock-o"></i> Office Hours: M-F, 9am-1pm</span>
    </div>
  </div>

  <div class="container">
    <img src="{{ "/img/st-a-logo.svg" | prepend: site.baseurl }}" alt="" class="logo">
    <nav class="main-menu">
      <a href="" class="main-menu__item">Visitors</a>
      <a href="" class="main-menu__item">About</a>
      <a href="" class="main-menu__item">Events</a>
      <a href="" class="main-menu__item">Newsletter</a>
      <a href="" class="main-menu__item">Sermons</a>
      <a href="" class="main-menu__item main-menu__item--giving">Giving</a>
      <a href="" class="main-menu__item main-menu__item--icon"><i class="fa fa-facebook"></i></a>
      <a href="" class="main-menu__item main-menu__item--icon"><i class="fa fa-instagram"></i></a>
      <a href="" class="main-menu__item main-menu__item--icon"><i class="fa fa-twitter"></i></a>
    </nav>
  </div>
</header>
